<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View GPX Data</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css">
    <link rel="stylesheet" href="https://unpkg.com/@raruto/leaflet-elevation/dist/leaflet-elevation.css">
    <link rel="stylesheet" href="../static/view_gpx.css">
</head>
<body>
<header>
    <h1>{{ filename[:-4] }}</h1>
    <a href="{{ url_for('home') }}" class="button">Return</a>
</header>
<div id="map"></div>
<div id="elevation-chart"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.7.0/gpx.min.js"></script>
<script src="https://unpkg.com/@raruto/leaflet-elevation/dist/leaflet-elevation.js"></script>
<script src="../static/view_gpx.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        initializeMap('{{ filename }}');
    });
</script>
</body>
</html>
